.container{
    width: 1160px;
    margin: 0 auto;
    font-family: 'Open Sans';
}
.nav{
    display: flex;
    justify-content: space-between;
    background: #313131;
    height: 70px;
    width: 100%;

}
.logo-ssilka{
    display: block;
    text-decoration: none;

}
.logo{
    display: flex;
}
.logo_title{
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    line-height: 70px;
}
.logo_img{
    width: 27px;
    height: 27px;
    padding: 22px 27px 21px 27px;
}
.nav_menu{
    display: flex;
}
.nav_menu_item{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    line-height: 70px;
    padding-right: 32px;

}
.nav_menu_item:hover{
    color: #14B9D5;
}
.fa-search{
    color: #ffffff;
    background: #000000;
    padding: 27px;
}



.latest_news{
    background-image: url("../img/header-bg.jpeg");
    background-color: #313131;
    background-repeat: no-repeat;
    background-position: center;
    height: 370px;
    width: 100%;
    position: relative;
    background-attachment: fixed;
}

.latest_news:after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #313131;
    opacity: 0.5;
    z-index: 1;

}
.main_title_box{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 55%;
}
.main_title{
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 700;
    color: white;
    z-index: 2;

}

.main_button{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40%;

}
.main_button_green{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    /*padding: 17px 20px;*/
    width: 170px;
    height: 55px;
    background: #89CA62;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    margin-right: 20px;
}

.main_button_blue{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 55px;
    /*padding: 17px 20px;*/
    background: #14B9D5;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    z-index: 2;
}








.bg_gallery_box{
    background-image: url("../img/background.jpg");
}
.second_title{
    font-weight: bold;
    font-size: 27px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #18B4CF;
    text-transform: uppercase;
    font-family: 'Open Sans';

}
.images_gallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    height: 900px;
}
.first_gallery_box{
    /*width: calc((100% / 3) - 20px);*/
    margin-bottom: 30px;
}
.img_first{
    width: 100%;
    /*margin-bottom: 22px;*/

}
.description_first_gallery{
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #353A3D;
    /*margin: 20px;*/
    border: 1px solid white;
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}


.our_clients{
    background-image: url("../img/parallax-bg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    height: 588px;
    width: 100%;
    background-attachment: fixed;

}

.our_clients_title_box{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    grid-column-gap: 50px;
    grid-row-gap: 80px;
}

.our_clients_title{
    margin-top: 100px;
    text-align: center;
    font-size: 32px;
    color: white;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 5;
    text-transform: uppercase;
}
.our_clients_line{
    margin: 0 auto;
    grid-column-start: 1;
    grid-column-end: 5;
    width: 60px;
}
.our_clients_line hr{
    color: #18B4CF;
}

.gallery-top-rated{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}
.top-rated-img{
    width: 100%;
}







.hot-news-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*grid-template-rows: 1fr 2fr 2fr 1fr;*/
    /*grid-template-rows: 260px 420px 420px 260px;*/
    grid-column-gap: 40px;
    grid-row-gap: 45px;
    margin-bottom: 77px;

}

.hot-news-gallery-split{

    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #F9F7F7;
    text-align: right;


}
.hot-news-gallery-split1{
    grid-column-start: 4;
    grid-column-end: 5;
    background: #F9F7F7;


}
.hot-news-gallery-split2{
    grid-column-start: 1;
    grid-column-end: 3;
    background: #F9F7F7;
    text-align: right;
    width: 554px;
}

.hot-news-gallery-split3{
    grid-column-start: 3;
    grid-column-end: 5;
    background: #F9F7F7;
    text-align: right;
    width: 554px;
}

.hot-news-gallery-split4{
    grid-column-start: 1;
    grid-column-end: 2;
    background: #F9F7F7;
    align-items: center;

}
.hot-news-gallery-split5{
    grid-column-start: 2;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #F9F7F7;
    text-align: right;

}

.hot-news-title-split{
    font-weight: bold;
    font-size: 18px;
    padding: 41px 24px 15px 0;
}
.split-p-split{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding-right: 20px;
    padding-left: 5px;
    color: #5B6469;
}

.hot-news-title{
    font-weight: bold;
    font-size: 18px;
    padding: 14px;

}

.split-p{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding-right: 14px;
    color: #5B6469;

}
.hot-news-title-single{
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
    text-align: center;
    padding-top: 11px;

}

.hot-news-img-first{
    width: 483px;
    height: 260px;
    /*width: 100%;*/
    /*height: 100%;*/

}

.hot-news-img-second{
    width: 554px;
    height: 260px;
}




.footer{
    width: 100%;
    background-color: #000000;
}
.all-rights{
    color: white;
    font-size: 13px;
}
.footer-logo{
    justify-self: right;
}

.footer-grid{
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}