* a {
    font-family: 'Montserrat', sans-serif;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.conteiner {
    margin: 0 auto;
    width: 1280px;
}

.menu-list {
    text-align: center;
}

.menu-item a {
    text-decoration: none;
    color: #FF0000;
}

.menu-item {
    display: inline-block;
    padding: 25px 70px 25px 70px;
    font-size: 18px;
    font-weight: 700;
    list-style-type: none;
    text-transform: uppercase;
}

.main-title {
    padding: 48px 0 38px 0;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 3.3px;
    color: #373737;
}

.main-description {
    color: #373737;
    text-align: center;
    font-size: 16px;
    width: 1145px;
    padding: 0 67.5px 30px 67.5px;
    line-height: 26px;
    letter-spacing: 2.4px;
}

.footer-btn a {
    text-decoration: none;
    background: #FF0000;
    font-size: 12px;
    text-transform: uppercase;
    padding: 18px 42px;
    display: inline-block;
    color: white;
    border-radius: 4px;
}

.footer-btn {
    text-align: center;
    margin: 30px 0 80px 0;
}

.footer-copy {
    text-align: end;
    font-weight: 700;
    margin-right: 100px;
    margin-bottom: 100px;
    color: #373737;
    font-size: 16px;
    letter-spacing: 2.4px;
}