.container{
    width: 100%;
    height: 100vh;
    font-family: "Droid Sans", arial, verdana, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: gold;
    background-color: #000;
    background-size: cover;
    overflow: hidden;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: perspective(280px) rotateX(28deg);
    transform-origin: 50% 90%;


    position: absolute;
    top: 100%;
    left: 50%;
    right: 50%;
    bottom: 0;
    animation: scroll 30s linear 2s infinite;

}
.title {
    text-align: center;
    width: 960px;
    font-size: 56px;
    line-height: 85px;
    letter-spacing: 1.4px;
}
.story{
    text-align: left;
    width: 960px;
    font-size: 56px;
    line-height: 85px;
    letter-spacing: 1.4px;
}

@keyframes scroll {
    0% {
        top: 100%;
        opacity: 0;
    }
    7% {
        top: 100%;
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        top: -250%;
        opacity: 0;
    }
}
