.container{
    width: 1028px;
    margin: 0 auto;
    font-family: 'Roboto';

}
.background{
    background-image: url("../img/background1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header{
    padding-top: 51px;
    display: flex;
    justify-content: space-between;
}
.header a{
    text-decoration: none;
}
.logos{
    display: flex;

}
.header-img{
    width: 53px;
    height: 47px;
    padding-right: 8px;
}
.header-img5{
    width: 53px;
    height: 47px;
    position: absolute;
    padding-right: 8px;
    opacity: 0
}
.text-logos{
    display: flex;
    flex-direction: column;
}
.header-title{
    font-weight: bold;
    font-size: 29px;
    color: #FFFFFF;
    margin-bottom: 2px;
}
.header-description{
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
}




.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    align-items: flex-end;
    font-weight: 400;
}
.contact a{
    text-decoration: none;
    color: #FFFFFF;
}

.mailto:hover{
    color: #F26522;
}
.tel:hover{
    color: #F26522;
}

.logos:hover .header-title{
    color: #F26522;
}
.logos:hover .header-description{
    color: #F26522;
}

.logos:hover .header-img{
    opacity: 0;
}

.logos:hover .header-img5{
    opacity: 1;
}






.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.gallery-box{
    text-align: center;
    text-decoration: none;
    /*position: relative;*/
    margin-top: 17px;
    margin-bottom: 30px;

}

.border{
    border-image: linear-gradient(54deg, #000000, #FFFFFF) 1%;
    border-width: 2px;
    border-style: solid;
    position: relative;

}
.gallery-item{
    width: 300px;
    height: 220px;
}

.gallery-text{
    font-size: 18px;
    color: #FFFFFF;
    padding-top: 20px;
}
.gallery-box:hover .gallery-text{
    color: #F26522;

}
.card{
    display: flex;
    background: #F26522;
    position: absolute;
    opacity: 0;
    visibility: hidden;

    transition: opacity 0.4s linear;

}
.gallery-box:hover .card{
    opacity: 1;
    visibility: visible;
    bottom: 0;

}
.card-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7px 143px 12px 7px;
}
.card-from{
    font-size: 10px;
    color: #FFFFFF;
    text-decoration: none;
    padding-bottom: 8px;
}

.card-50{
    color: #FFFFFF;
    font-size: 20px;
}

.card-details{
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    padding-top: 26px;
    padding-right: 17px;

}
.card-details::after{
    width: 5px;
    height: 10px;
    padding-left: 15px;
    content: url(../img/vector1.png);
    font-size: 30px;
}

.copy{
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
    padding-bottom: 15px;
    margin-top: 49px;
}





