.main-div {
    background-image: url(../img/wallpaper.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-around;
    padding: 18px 0;
}

.header-title a {
    color: white;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-decoration: none;
    transition: color 1s;
}

.header-title:hover a {
    color: #3CB878;
}

.header-icon-svg {
    margin-right: 25px;
    transition: fill 1s;
}

.header-icon-svg:hover {
    fill: #3CB878;
    cursor: pointer;
}

.header-box {
    display: flex;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.header-box a {
    text-decoration: none;
    color: white;
}

.header-icon {
    border-right: rgba(255, 255, 255, 0.6) solid 0.5px;
    margin-right: 25px;
}

.header-reg {
    display: flex;
    align-items: center;
}

.header-reg-log {
    transition: color 1s;
}

.header-reg-log:hover {
    color: #3CB878;
}

.main-form {
    margin: auto;
}

.form {
    background-color: white;
    display: inline-block;
    padding: 30px 60px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.form-title {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    font-size: 20px;
    align-items: flex-end;
    position: relative;
}

.form-squad {
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    left: -60px;
}

.form-title a {
    text-decoration: none;
    color: #3CB878;
    font-size: 14px;
}

.form-f-g-box {
    display: flex;
    justify-content: space-between;
}

.form-f-btn {
    background-color: #305DB8;
    text-decoration: none;
    color: white;
    padding: 15px 0;
    border-radius: 5px;
    font-size: 16px;
    width: 160px;
    display: inline-block;
    transition: background-color 1s;
}

.form-f-btn:hover {
    background: #022263;
}

.form-f-title {
    vertical-align: middle;
}

.form-f-img {
    border-right: 1px solid rgba(10, 22, 47, 0.3);
    padding-right: 18px;
    margin-right: 18px;
    vertical-align: middle;
}

.form-g-img {
    border-right: 1px solid rgba(43, 13, 9, 0.1);
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: middle;
}

.form-g-btn {
    background-color: #DF4A32;
    text-decoration: none;
    color: white;
    padding: 15px 0;
    border-radius: 5px;
    font-size: 16px;
    width: 160px;
    display: inline-block;
    transition: background-color 1s;
}

.form-g-btn:hover {
    background-color: #AB1F09;
}

.form-g-title {
    margin: 0 25px;
    vertical-align: middle;
}

.form-line {
    color: #F2F2F2;
    width: 150px;
    opacity: 0.5;
}

.form-line-box {
    display: flex;
    margin-top: 20px;
}

.form-input-box {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}

.form-input {
    margin-bottom: 12px;
    width: 100%;
    padding: 15px 0;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 20px;
    color: #434343;
    font-family: 'Ubuntu', sans-serif;
}

.form-input:focus {
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
    padding-left: 20px;
    color: #434343;
    font-family: 'Ubuntu', sans-serif;
}

.form-btn {
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    color: white;
    margin-top: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    padding: 16px 0;
    width: 100%;
    transition: background-color 1s;
    cursor: pointer;
}

.form-btn:hover {
    background-color: #01813F;
}

.form-checkbox-box {
    font-size: 14px;
    color: #434343;
    text-align: start;
}


.form-checkbox-descriptions {
    color: #3CB878;
    font-size: 14px;
    text-decoration: none;
    transition: color 1s;
    margin-left: 5px;
}

.form-checkbox-descriptions:hover {
    padding-bottom: 2px;
    border-bottom: 1px solid #01813F;
    color: #01813F;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked+label,
input[type="checkbox"]:not(:checked)+label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked+label:before,
input[type="checkbox"]:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background-color: #ffffff;
}

input[type="checkbox"]:checked+label:after,
input[type="checkbox"]:not(:checked)+label:after {
    content: "";
    position: absolute;
    transition: all 0.2s ease;
    left: 2px;
    top: 4px;
    width: 15px;
    height: 8px;
    border-left: 2.5px solid #3CB878;
    border-bottom: 2.5px solid #3CB878;
    transform: rotate(-54deg);
}

input[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
}

input[type="checkbox"]:checked+label:after {
    opacity: 1;
}