#bbt {
    display: block;
    margin: 10px auto;
    padding: 20px 15px;
    background-color: beige;
    border-radius: 20px;
}

.in-put {
    display: block;
    margin: 0 auto;
}

.circle {
    border-radius: 100%;
    background: red;
    width: 100px;
    height: 100px;
    display: inline-block;
}