    html {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
    }
    
    .container {
        width: 1280px;
        margin: 0 auto;
    }
    
    .logo a {
        text-decoration: none;
    }
    
    a:visited {
        color: #000000;
    }
    
    .logo {
        color: #000000;
        font-size: 80px;
        margin-top: 60px;
        margin-bottom: 40px;
    }
    
    .logo span {
        color: deepskyblue;
    }
    
    .header_menu {
        display: flex;
        justify-content: center;
        background-color: #35444F;
    }
    
    .header_item a {
        text-decoration: none;
        color: white;
    }
    
    .header_item {
        border: 1px solid white;
        border-top: 1px solid #35444F;
        border-bottom: 1px solid #35444F;
        padding: 26px 35px 19px 35px;
        text-align: center;
        font-size: 24px;
        line-height: 28px;
    }
    
    .header_item:hover {
        background: #222F3A;
    }
    
    .content {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
    }
    
    .side_menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid black;
        font-size: 27px;
    }
    
    .side_menu a:hover {
        background: #DBDBDB;
        color: #35444F;
        padding-left: 30px;
    }
    
    .side_menu_border {
        width: 350px;
        align-self: start;
    }
    
    .side_menu_item a {
        display: flex;
        align-content: space-between;
        text-decoration: none;
        color: #495863;
        height: 70px;
        line-height: 70px;
        padding-left: 20px;
    }
    
    .img_border {
        width: 885px;
        height: 530px;
        margin-bottom: 40px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .main_img_box {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    
    .main_img {
        width: 320px;
        height: 381px;
        /*padding: 75px 265px 73px 297px;*/
        transition: 1s;
    }
    
    .main_img:hover {
        transform: scale(1.1);
    }
    
    .description {
        width: 885px;
        display: flex;
        flex-direction: column;
        align-items: end;
        font-size: 18px;
        line-height: 24px;
    }
    
    .description__one {
        /*font-size: 18px;*/
        /*line-height: 24px;*/
        margin-bottom: 34px;
    }
    
    .description__two {
        /*font-size: 18px;*/
        /*line-height: 24px;*/
        margin-bottom: 55px;
    }
    
    .footer_menu {
        display: flex;
        /*background: rgba(99, 105, 110, 0.48);*/
        padding-top: 25px;
        padding-bottom: 18px;
        padding-left: 40px;
        padding-right: 40px;
        font-size: 28px;
        line-height: 28px;
        color: #0C1927;
    }
    
    .footer_menu a {
        text-decoration: none;
    }
    
    .footer_item {
        margin-left: 20px;
    }
    /*.footer_copyright{*/
    /*    color: #010101;*/
    /*    font-size: 24px;*/
    /*    line-height: 24px;*/
    /*    margin-left: 155px;*/
    /*}*/
    
    .footer_menu a:hover {
        color: deepskyblue;
        border-bottom: 1px solid deepskyblue;
        padding-bottom: 7px;
    }
    
    .footer_box {
        display: flex;
        justify-content: space-between;
        background: rgba(99, 105, 110, 0.48);
    }
    
    .copyright {
        color: #010101;
        font-size: 24px;
        /*line-height: 28px;*/
        padding-top: 25px;
        padding-bottom: 18px;
        padding-right: 40px;
    }